[submodule "sub/basiq"]
	path = sub/basiq
	url = https://github.com/RyanGhd/basiq.git
	branch = cloned-upstream3
[submodule "sub/external/pingidentity-cdr-sandbox"]
	path = sub/external/pingidentity-cdr-sandbox
	url = https://github.com/pingidentity/pingidentity-cdr-sandbox.git
